:root{
	--borderWidth-none: 0px;
	--borderWidth-sm: 1px;
	--borderWidth-md: 2px;
	--borderWidth-lg: 4px;
	--fontSize-h1: 32px;
	--fontSize-h2: 28px;
	--fontSize-h3: 24px;
	--fontSize-h4: 18px;
	--fontSize-h5: 16px;
	--fontSize-b1: 14px;
	--fontSize-b2: 12px;
	--fontSize-caption1: 10px;
	--fontSize-caption2: 8px;
	--fontSize-sm: 8px;
	--fontSize-md: 10px;
	--fontSize-lg: 12px;
	--fontSize-xl: 14px;
	--fontSize-2xl: 16px;
	--opacity-0: 0px;
	--opacity-10: 0.1px;
	--opacity-20: 0.2px;
	--opacity-30: 0.3px;
	--opacity-40: 0.4px;
	--opacity-50: 0.5px;
	--opacity-60: 0.6px;
	--opacity-70: 0.7px;
	--opacity-80: 0.8px;
	--opacity-90: 0.9px;
	--opacity-100: 1px;
	--spacing-xxxs: 1px;
	--spacing-xxs: 2px;
	--spacing-xs: 4px;
	--spacing-s: 6px;
	--spacing-m: 8px;
	--spacing-l: 12px;
	--spacing-xl: 14px;
	--spacing-xxl: 16px;
	--spacing-xxxl: 24px;
	--borderRadius-0: 0px;
	--borderRadius-xxxs: 2px;
	--borderRadius-xxs: 4px;
	--borderRadius-xs: 8px;
	--borderRadius-s: 12px;
	--borderRadius-m: 16px;
	--borderRadius-l: 20px;
	--borderRadius-xl: 24px;
	--borderRadius-xxl: 32px;
	--borderRadius-xxxl: 48px;
	--borderRadius-pill: 1000px;
	--colors-secondary-0: #FFFFFF;
	--colors-secondary-100: #FFFFFF;
	--colors-secondary-200: #FFFFFF;
	--colors-secondary-300: #FDEAFE;
	--colors-secondary-400: #EE67F5;
	--colors-secondary-500: #EA46F3;
	--colors-secondary-600: #E515F0;
	--colors-secondary-700: #BB0DC4;
	--colors-secondary-800: #7D0983;
	--colors-secondary-900: #3E0441;
	--colors-primary-0: #FFFFFF;
	--colors-primary-100: #FFFFFF;
	--colors-primary-200: #E6F0FD;
	--colors-primary-300: #98C0F6;
	--colors-primary-400: #2F80ED;
	--colors-primary-500: #1570EB;
	--colors-primary-600: #115DC4;
	--colors-primary-700: #0E4B9D;
	--colors-primary-800: #093269;
	--colors-primary-900: #051934;
	--colors-success-100: #f0fff4;
	--colors-success-200: #c6f6d5;
	--colors-success-300: #9ae6b4;
	--colors-success-400: #68d391;
	--colors-success-500: #48bb78;
	--colors-success-600: #38a169;
	--colors-success-700: #2f855a;
	--colors-success-800: #276749;
	--colors-success-900: #22543d;
	--colors-error-100: #fff5f5;
	--colors-error-200: #fed7d7;
	--colors-error-300: #feb2b2;
	--colors-error-400: #fc8181;
	--colors-error-500: #f56565;
	--colors-error-600: #e53e3e;
	--colors-error-700: #c53030;
	--colors-error-800: #9b2c2c;
	--colors-error-900: #742a2a;
	--colors-grayscale-0: #ffffff;
	--colors-grayscale-100: #f7fafc;
	--colors-grayscale-200: #edf2f7;
	--colors-grayscale-300: #e2e8f0;
	--colors-grayscale-400: #cbd5e0;
	--colors-grayscale-500: #a0aec0;
	--colors-grayscale-600: #718096;
	--colors-grayscale-700: #4a5568;
	--colors-grayscale-800: #2d3748;
	--colors-grayscale-900: #1a202c;
	--colors-grayscale-1000: #282828;
	--colors-grayscale-transprent: rgba(0,0,0,0);
	--colors-tertiary-0: #FFFFFF;
	--colors-tertiary-100: #FFFFFF;
	--colors-tertiary-200: #FFFFFF;
	--colors-tertiary-300: #FDF9DF;
	--colors-tertiary-400: #f6e05e;
	--colors-tertiary-500: #F4DA3E;
	--colors-tertiary-600: #F2D10E;
	--colors-tertiary-700: #C1A70B;
	--colors-tertiary-800: #816F07;
	--colors-tertiary-900: #403804;
	--colors-contrast-contrast-000: rgba(0,0,0,0);
	--colors-contrast-contrast-100: #cbd5e0;
	--colors-contrast-contrast-200: #a0aec0;
	--colors-contrast-contrast-300: #718096;
	--colors-contrast-contrast-400: #4a5568;
	--colors-contrast-contrast-500: #2d3748;
	--colors-contrast-contrast-600: #282828;
	--colors-brand-1-0: #FFFFFF;
	--colors-brand-1-100: #FFFFFF;
	--colors-brand-1-200: #FFFFFF;
	--colors-brand-1-300: #FDEAFE;
	--colors-brand-1-400: #EE67F5;
	--colors-brand-1-500: #EA46F3;
	--colors-brand-1-600: #E515F0;
	--colors-brand-1-700: #BB0DC4;
	--colors-brand-1-800: #7D0983;
	--colors-brand-1-900: #3E0441;
	--colors-brand-2-0: #FFFFFF;
	--colors-brand-2-100: #FFFFFF;
	--colors-brand-2-200: #E6F0FD;
	--colors-brand-2-300: #98C0F6;
	--colors-brand-2-400: #2F80ED;
	--colors-brand-2-500: #1570EB;
	--colors-brand-2-600: #115DC4;
	--colors-brand-2-700: #0E4B9D;
	--colors-brand-2-800: #093269;
	--colors-brand-2-900: #051934;
	--colors-base-base-000: rgba(0,0,0,0);
	--colors-base-base-100: #ffffff;
	--colors-base-base-200: #f7fafc;
	--colors-base-base-300: #edf2f7;
	--colors-base-base-400: #e2e8f0;
	--colors-base-base-500: #cbd5e0;
	--colors-tags-default: #ffffff;
	--colors-tags-automation: #FAC6FF;
	--colors-tags-bug: #F8A9A9;
	--colors-tags-data-issue: #F9D49C;
	--colors-tags-recommended-link: #FDFF9D;
	--colors-tags-recommended-change: #C6FFD9;
	--colors-tags-manual-review: #C6E4FF;
	--colors-tags-pull-request: #CEC6FF;
	--colors-hover-hover-00: rgba(0,0,0,0);
	--colors-hover-hover-100: #ffffff;
	--colors-hover-hover-200: #f7fafc;
	--colors-hover-hover-300: #edf2f7;
	--colors-hover-hover-400: #e2e8f0;
	--colors-hover-hover-500: #cbd5e0;
	--colors-click-click-000: rgba(0,0,0,0);
	--colors-click-click-100: #ffffff;
	--colors-click-click-200: #f7fafc;
	--colors-click-click-300: #edf2f7;
	--colors-click-click-400: #e2e8f0;
	--colors-click-click-500: #cbd5e0;
	--colors-selected-selected-000: rgba(0,0,0,0);
	--colors-selected-selected-100: #ffffff;
	--colors-selected-selected-200: #f7fafc;
	--colors-selected-selected-300: #edf2f7;
	--colors-selected-selected-400: #e2e8f0;
	--colors-selected-selected-500: #cbd5e0;
	--colors-disabled-disabled-000: rgba(0,0,0,0);
	--colors-disabled-disabled-100: #ffffff;
	--colors-disabled-disabled-200: #f7fafc;
	--colors-disabled-disabled-300: #edf2f7;
	--colors-disabled-disabled-400: #e2e8f0;
	--colors-disabled-disabled-500: #cbd5e0;
	--colors-base-base-0: rgba(0,0,0,0);
}